*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Typography and Styling */

body {
  font-family: "futura-pt", sans-serif;
  color: #333;
  letter-spacing: .7px;
  height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  background-image: url("../images/design-background.png");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

h1 {
  font-size: 4.57rem;
  font-weight: 500;
  font-style: oblique;
}

h2 {
  font-size: 2.6rem;
  font-weight: 500;
  font-style: oblique;
}

h3 {
  font-size: 1.9rem;
  font-weight: lighter;
}

h4 {
  font-size: 1.05rem;
  font-weight: bolder;
  text-transform: uppercase;
}

h5 {
  font-size: 1.16rem;
  font-weight: 600;
}

p {
  font-size: 1.25rem;
  font-weight: lighter;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: red;
}

/* Header Grid Layout */

.header {
  max-width: 1024px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 60px);
  grid-column-gap: 20px;
}

.profile-img {
  grid-column: 2;
  grid-row: 1;
}

.profile-header {
  grid-column: 5 / span 8;
  grid-row: 1;
  padding-top: 2vw;
}

.profile-paragraph {
  grid-column: 6 / span 7;
  grid-row: 1;
  padding-top: 9vw;
}

/* Main Content Grid Layout */

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 60px);
  grid-column-gap: 20px;
}

.featured-work {
  grid-column: 1 / span 6;
  grid-row: 1;
  padding: 80px 0 50px 0;
}

.cumulus-background {
  background-color: #81EA97;
  height: 275px;
  width: 380px;
  grid-column: 1;
  grid-row: 2;
}

.cumulus-img {
  grid-column: 1;
  grid-row: 2;
  padding: 20px 0 0 20px;
}

.cumulus-header {
  grid-column: 1 / 7;
  grid-row: 4;
  padding-top: 1vw;
}

.cumulus-paragraph {
  grid-column: 1 / span 6;
  grid-row: 5;
  padding-top: 1vw;
}

.blocjams-background {
  background-color: #E32664;
  height: 275px;
  width: 380px;
  grid-column: 8;
  grid-row: 5;
}

.blocjams-img {
  grid-column: 8;
  grid-row: 5;
  padding: 20px 0 0 20px;
}

.blocjams-header {
  grid-column: 8 / span 6;
  grid-row: 8;
  padding-top: 1vw;
}

.blocjams-paragraph {
  grid-column: 8 / span 6;
  grid-row: 9;
  padding-top: 1vw;
}

.responsive-site-background {
  background-color: #333333;
  height: 275px;
  width: 380px;
  grid-column: 1;
  grid-row: 9;
}

.responsive-site-img {
  grid-column: 1;
  grid-row: 9;
}

.responsive-site-header {
  grid-column: 1 / span 7;
  grid-row: 9;
  padding-top: 21vw;
}

.responsive-site-paragraph {
  grid-column: 1 / span 6;
  grid-row: 9;
  padding-top: 23vw;
}

/* Content Styling */

nav {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 30px 0 75px 0;
}

.nav-right ul {
  display: inline-flex;
}

.nav-footer-spacing {
  padding-right: 20px;
}

footer {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 50px 0 30px 0;
}

.footer-right ul {
  display: inline-flex;
}
