*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Typography and Styling */

body {
  font-family: "futura-pt", sans-serif;
  color: #333;
  letter-spacing: .7px;
  margin: 0 auto;
  background-color: #fff;
}

h1 {
  font-size: 1.5rem;
  font-weight: 500;
  font-style: oblique;
  padding: 0 2vw;
}

h2 {
  font-size: 1.25rem;
  font-weight: 500;
  font-style: oblique;
}

h3 {
  font-size: 1rem;
  font-weight: lighter;
}

h4 {
  font-size: .65rem;
  font-weight: bolder;
  text-transform: uppercase;
}

h5 {
  font-size: .85rem;
  font-weight: 600;
}

p {
  font-size: .95rem;
  font-weight: lighter;
}

li {
  list-style-type: none;
  font-size: .85rem;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: red;
}

img {
  height: 55vw;
  width: 65vw;
}

/* Content Styling */

nav {
  max-width: 960px;
  margin: 0 auto;
  padding: 30px 20px;
  display: flex;
  justify-content: space-between;
}

.nav-right ul li a:active {
  border-bottom: 1px solid #333333;
  padding-bottom: 1px;
}

.nav-right ul {
  display: inline-flex;
}

.nav-right {
  padding-right: 10px;
}

.nav-footer-spacing {
  padding-right: 10px;
}

.active a {
  border-bottom: 1px solid #333333;
}

footer {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 30px 20px;
}

.footer-right ul {
  display: inline-flex;
  justify-content: space-between;
}

footer ul li a:active {
  border-bottom: 1px solid #333333;
  padding-bottom: 1px;
}

.wrapper {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

.hide-mobile {
  display: none;
}

.center {
  display: flex;
  justify-content: space-around;
}

.features-padding {
  padding-bottom: 10vw;
}

.heading-padding {
  padding: 2vw 0;
}

.profile-header {
  padding: 2vw 0;
}

.featured-work {
  padding: 5vw 0 0 0;
  text-align: center;
}

.cumulus-img {
  background-color: #81EA97;
}

.blocjams-img {
  background-color: #E32664;
}

.responsive-site-img {
  background-color: #333333;
}

/****************
    Bio Page
 ****************/

.bio-page {
  background-color: #F9F9F9;
  padding: 5vw 20px;
}

.bio-page p {
  padding: 0 2vw;
}

.bio-name {
  padding: 0 0 2vw 0;
}

.bio-name p {
  padding-left: 3vw;
}

.bold {
  font-weight: 500;
}

/*****************
Contact Page
*****************/

.contact-page {
  padding-left: 10px;
}

.contact-info ul li {
  display: inline-flex;
}

.contact-info h2 {
  padding: 0vw 0vw 0vw 1vw;
}

.contact-info p {
  padding-left: 1vw;
}

.contact-info ul li {
  padding-left: 2vw;
}

.contact-info {
  padding-left: 1vw;
}

.contact-padding {
  padding-bottom: 5vw;
}

#contact-wrap h2 {
  padding-left: 2vw;
}

#contact-wrap {
  font-size: 16px;
  font-weight: 300;
  width: 100vw;
  color: #333;
  overflow: auto;
  float: left;
  padding-top: 5vw;
}

#contact-area {
  margin-left: 3px;
  width: 342px;
  padding: 2vw;
}

#contact-area input, #contact-area textarea {
  padding: 5px;
  width: 342px;
  font-family: "futura-pt", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #333;
  background-color: transparent;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-bottom: 2px solid #333;
  border-right: 1px solid transparent;
  margin-bottom: 15px;
}

#contact-area textarea {
  height: 150px;
  background-color: transparent;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-bottom: 2px solid #333;
  border-right: 1px solid transparent;
}

#contact-area textarea:focus, #contact-area input:focus {
  background-color: #fff;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-bottom: 2px solid #333;
  border-right: 1px solid transparent;
}

#contact-area input.submit-button {
  font-family: "futura-pt", sans-serif;
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  width: 100px;
  float: left;
  background-color: transparent;
  border-top: 2px solid #333;
  border-left: 2px solid #333;
  border-bottom: 2px solid #333;
  border-right: 2px solid #333;
  -moz-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

#contact-area input.submit-button:hover {
  color: #333;
  background-color: #fff;
}

label {
  float: left;
  text-align: left;
  margin-right: 16px;
  width: 100px;
  padding-top: 5px;
  font-size: 18px;
  font-weight: 300;
}

::-webkit-input-placeholder {
  color: #333;
  font-size: 14px;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #333;
  font-size: 14px;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #333;
  font-size: 14px;
}

:-ms-input-placeholder {
  color: #333;
  font-size: 14px;
}

@media only screen and (min-width: 600px) {
  nav {
    padding: 30px 20px;
  }
  footer {
    padding: 30px 20px;
  }
  nav p, li {
    font-size: 1.2rem;
  }
  .wrapper h5 {
    font-size: 1rem;
  }
  .wrapper p {
    font-size: 1.25rem;
  }
  img {
    height: 36vw;
    width: 48vw;
  }
  .header {
    display: grid;
    grid-template-columns: 1fr;
  }
  .header h1 {
    font-size: 2rem;
    padding-left: 2vw;
  }
  .profile-paragraph {
    width: 50vw;
    padding-left: 5vw;
  }
  .profile-paragraph h3 {
    font-size: 1.25rem;
    padding: 2vw 1vw 0 1vw;
  }
  .wrapper {
    grid-template-columns: 1fr 1fr;
  }
  .featured-work {
    grid-column: 1 / span 2;
    grid-row: 1;
    display: flex;
    justify-content: center;
    padding: 4vw 0 3vw 0;
  }
  .featured-work h2 {
    font-size: 1.75rem;
  }
  .cumulus-img {
    grid-column: 1;
    grid-row: 2;
  }
  .cumulus-header {
    grid-column: 1;
    grid-row: 3;
  }
  .blocjams-img {
    grid-column: 2;
    grid-row: 2;
  }
  .blocjams-header {
    grid-column: 2;
    grid-row: 3;
  }
  .responsive-site-img {
    grid-column: 1;
    grid-row: 4;
  }
  .responsive-site-header {
    grid-column: 1;
    grid-row: 5;
  }
  .heading-padding {
    padding: 1vw 0;
  }
  /****************
    Bio Page
****************/
  .bio-page h2 {
    padding-left: 2vw;
    font-size: 1.5rem;
  }
  .bio-name {
    grid-column: 1;
    padding-bottom: 2vw;
  }
  .contact-info {
    grid-column: 2;
    padding-bottom: 2vw;
  }
  .bio-summary {
    grid-column: 1 / span 2;
    grid-row: 2;
  }
  .social-icons {
    padding: 2vw 0 1vw 2vw;
  }
  /*****************
  Contact Page
  *****************/
  .contact-info {
    grid-column: 1;
    padding-left: 1vw;
  }
  #contact-wrap {
    width: 50vw;
    grid-column: 2;
    padding-right: 1vw;
    padding-top: 0;
  }
  #contact-area {
    padding: 0;
  }
}

@media only screen and (min-width: 992px) {
  nav {
    padding: 30px 0;
  }
  footer {
    padding: 30px 0;
  }
  .nav-right {
    padding: 0;
  }
  .body-container h1, h2, h3, h4, h5, p {
    padding: 0;
  }
  .center {
    display: grid;
  }
  .nav-footer-spacing {
    padding-right: 20px;
  }
  .header h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 1.25rem;
  }
  .profile-paragraph h3 {
    font-size: 1.5rem;
  }
  .featured-work h2 {
    font-size: 2.5rem;
  }
  h4 {
    font-size: .65rem;
  }
  h5 {
    font-size: .85rem;
  }
  p {
    font-size: .95rem;
  }
  .header {
    margin: 0 auto;
    max-width: 960px;
    padding: 3vw 0 0 0;
    grid-template-columns: repeat(10, 60px);
    grid-column-gap: 20px;
  }
  .heading-padding {
    padding: 0;
  }
  .hide-mobile {
    display: contents;
  }
  .profile-img img {
    height: 18vw;
    width: 16vw;
    grid-column: 2;
  }
  .profile-header {
    grid-column: 4 / span 8;
    grid-row: 1;
    padding: 2vw 0;
  }
  .profile-paragraph {
    width: 100%;
    grid-column: 5 / span 7;
    grid-row: 1;
    padding: 6.5vw 1vw 0 1vw;
  }
  .wrapper {
    max-width: 960px;
    margin: 0 auto;
    grid-template-columns: repeat(12, 60px);
    grid-column-gap: 20px;
  }
  .featured-work {
    grid-column: 1 / 13;
    padding-bottom: 5vw;
  }
  .cumulus-img img {
    height: 19.5vw;
    width: 26.5vw;
    margin-left: 2vw;
    margin-top: -2vw;
  }
  .cumulus-img {
    grid-column: 2 / span 5;
  }
  .cumulus-header {
    grid-column: 2 / span 5;
    grid-row: 3;
    padding: 0;
  }
  .cumulus-paragraph p {
    grid-column: 2 / span 5;
    grid-row: 4;
  }
  .blocjams-img img {
    height: 19.5vw;
    width: 26.5vw;
    margin-right: 2vw;
    margin-top: -2vw;
  }
  .blocjams-img {
    grid-column: 8 / span 5;
    grid-row: 4;
  }
  .blocjams-header {
    grid-column: 8 / span 5;
    grid-row: 5;
  }
  .blocjams-paragraph p {
    grid-column: 8 / span 5;
    grid-row: 6;
  }
  .responsive-site-img img {
    height: 19.5vw;
    width: 26.5vw;
    margin-left: 5vw;
    margin-top: -5vw;
  }
  .responsive-site-img {
    grid-column: 2 / span 5;
    grid-row: 6;
  }
  .responsive-site-header {
    grid-column: 2 / span 5;
    grid-row: 7;
    padding: 0;
  }
  .responsive-site-paragraph p {
    grid-column: 2 / span 5;
    grid-row: 8;
  }
  /****************
       Bio Page
   ****************/
  .bio-page {
    max-width: 960px;
    margin: 0 auto;
    padding: 0;
  }
  .bio-name p {
    padding: 0 0 0 2vw;
  }
  .bio-name {
    grid-column: 1 / span 3;
    padding: 4vw 0vw 4vw 1vw;
  }
  .bio-summary {
    grid-column: 4 / span 10;
    grid-row: 1;
    margin-left: -4vw;
    padding: 4vw 2vw;
  }
  /*****************
  Contact Page
  *****************/
  .contact-page {
    max-width: 960px;
    background-color: #F0F1F4;
    margin: 0 auto;
    padding: 4vw 2vw;
  }
  .contact-info {
    grid-column: 1 / span 3;
    grid-row: 1;
  }
  .contact-info h2 {
    padding: 0;
  }
  .contact-info p {
    padding: 0;
  }
  .contact-info ul li {
    padding: 0 1vw 0 0;
  }
  .contact-info .contact-padding {
    padding-bottom: 2vw;
  }
  #contact-wrap {
    grid-column: 5 / span 1;
    padding-right: 1vw;
  }
  #contact-wrap h2 {
    width: 24vw;
  }
  #contact-area {
    padding-top: 2vw;
  }
}
