*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Typography and Styling */

body {
  font-family: "futura-pt", sans-serif;
  color: #333;
  letter-spacing: .7px;
  margin: 0 auto;
  background-color: #fff;
}

h1 {
  font-size: 1.5rem;
  font-weight: 500;
  font-style: oblique;
}

h2 {
  font-size: 1.25rem;
  font-weight: 500;
  font-style: oblique;
}

h3 {
  font-size: 1rem;
  font-weight: lighter;
}

h4 {
  font-size: .65rem;
  font-weight: bolder;
  text-transform: uppercase;
}

h5 {
  font-size: .85rem;
  font-weight: 600;
}

p {
  font-size: .95rem;
  font-weight: lighter;
}

li {
  list-style-type: none;
  font-size: .85rem;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: red;
}

img {
  width: 75%;
}

/* Content Styling */

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 30px 10px 40px 10px;
}

.nav-right ul {
  display: inline-flex;
}

.nav-right {
  padding-right: 10px;
}

.nav-footer-spacing {
  padding-right: 10px;
}

footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 40px 20px 30px 20px;
}

.footer-right ul {
  display: inline-flex;
}

.wrapper {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

.body-container h1, h2, h3, h4, h5, p {
  padding: 0 10px;
}

.hide-mobile {
  display: none;
}

.center {
  display: flex;
  justify-content: space-around;
}

.features-padding {
  padding-bottom: 10vw;
}

.heading-padding {
  padding: 2vw 0;
}

.profile-header {
  padding: 2vw 0;
}

.featured-work {
  padding: 5vw 0 0 0;
  text-align: center;
}

.cumulus-img {
  background-color: #81EA97;
}

.blocjams-img {
  background-color: #E32664;
}

.responsive-site-img {
  background-color: #333333;
}

@media only screen and (min-width: 600px)   {

  nav p,li {
    font-size: 1.1rem;
  }

  img {
    width: 80%;
  }
  .header {
    display: grid;
    grid-template-columns: 1fr;
  }

  .header h1 {
    font-size: 2rem;
    padding-left: 2vw;
  }

  .profile-paragraph {
    width: 50vw;
    padding-left: 5vw;
  }

  .profile-paragraph h3 {
    font-size: 1.25rem;
  }

  .wrapper {
    grid-template-columns: 1fr 1fr;
  }

  .featured-work {
    grid-column: 1 / span 2;
    grid-row: 1;
    display: flex;
    justify-content: center;
    padding: 4vw 0 3vw 0;
  }

  .featured-work h2 {
    font-size: 1.75rem;
  }

  .cumulus-img {
    grid-column: 1;
    grid-row: 2;
  }

  .cumulus-header {
    grid-column: 1;
    grid-row: 3;
  }

  .blocjams-img {
    grid-column: 2;
    grid-row: 2;
  }

  .blocjams-header {
    grid-column: 2;
    grid-row: 3;
  }

  .responsive-site-img {
    grid-column: 1;
    grid-row: 4;
  }

  .responsive-site-header {
    grid-column: 1;
    grid-row: 5;
  }

  .heading-padding {
    padding: 1vw 0;
  }

}

@media only screen and (min-width: 992px) {
  body {
    max-width: 1024px;
  }

  .body-container h1, h2, h3, h4, h5, p {
    padding: 0;
  }

  .center {
    display: grid;
  }

  .nav-footer-spacing {
    padding-right: 20px;
  }

  .header h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 1.25rem;
  }

  .profile-paragraph h3 {
    font-size: 1.5rem;
  }

  .featured-work h2 {
    font-size: 2.5rem;
  }

  h4 {
    font-size: .65rem;
  }

  h5 {
    font-size: .85rem;
  }

  p {
    font-size: .95rem;
  }

  .header {
    margin: 0 auto;
    max-width: 960px;
    padding: 3vw 0 0 0;
    grid-template-columns: repeat(10, 60px);
    grid-column-gap: 20px;
  }

  .heading-padding {
    padding: 0;
  }

  .hide-mobile {
    display: contents;
  }

  .profile-img img {
    height: 18vw;
    width: 16vw;
    grid-column: 2;
  }

  .profile-header {
    grid-column: 4 / span 8;
    grid-row: 1;
    padding: 2vw 0;
  }

  .profile-paragraph {
    width: 100%;
    grid-column: 5 / span 7;
    grid-row: 1;
    padding: 8vw 1vw 0 1vw;
  }

  .wrapper {
    max-width: 1024px;
    margin: 0 auto;
    grid-template-columns: repeat(12, 60px);
    grid-column-gap: 20px;
  }

  .featured-work {
    grid-column: 1 / 13;
    padding-bottom: 5vw;
  }

  .cumulus-img img {
    height: 19.5vw;
    width: 26.5vw;
    margin-left: 2vw;
    margin-top: -2vw;
  }

  .cumulus-img {
    grid-column: 2 / span 5;
  }

  .cumulus-header {
    grid-column: 2 / span 5;
    grid-row: 3;
    padding: 0;
  }

  .cumulus-paragraph  p {
    grid-column: 2 / span 5;
    grid-row: 4;
  }

  .blocjams-img img {
    height: 19.5vw;
    width: 26.5vw;
    margin-right: 2vw;
    margin-top: -2vw;
  }

  .blocjams-img {
    grid-column: 8 / span 5;
    grid-row: 4;
  }

  .blocjams-header {
    grid-column: 8 / span 5;
    grid-row: 5;
  }

  .blocjams-paragraph p {
    grid-column: 8 / span 5;
    grid-row: 6;
  }

  .responsive-site-img img {
    height: 19.5vw;
    width: 26.5vw;
    margin-left: 5vw;
    margin-top: -5vw;
  }

  .responsive-site-img {
    grid-column: 2 / span 5;
    grid-row: 6;
  }

  .responsive-site-header {
    grid-column: 2 / span 5;
    grid-row: 7;
    padding: 0;
  }

  .responsive-site-paragraph p {
    grid-column: 2 / span 5;
    grid-row: 8;
  }

}
